<!DOCTYPE html>
<html>
<head>
  <title>OpenProjectToDo</title>
  <%= stylesheet_link_tag    "open_project_to_do/application", media: "all" %>
  <%= javascript_include_tag "open_project_to_do/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
